{% extends 'base.html' %}
{% block content %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="/booking_done/" method="POST" class="card mb-3">
          <div class="card-body text-center pt-5">
            <img src="../static/images/pict 1.png" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{ name }}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{ days[week] }}, {{ time }}</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  {{ form.teach_week(class_='form-control', value=week) }}
                  {{ form.teach_time(class_='form-control', value=time) }}
                  {{ form.teacher_id(class_='form-control', value=id_t) }}
              </div>

            {{ form.username.label(class_='mb-1 mt-2') }}
            {{ form.username(class_='form-control') }}
            {{ form.user_phone.label(class_='mb-1 mt-2') }}
            {{ form.user_phone(class_='form-control') }}

            {{ form.submit(class_='btn btn-primary btn-block mt-4') }}

          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}