{% extends 'base.html' %}

{% block content %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ teacher.name }}</h1>
              <p>{% for goal in teacher.goals %}<span class="badge badge-secondary mr-2">{{ goal }}</span>{% endfor %}Рейтинг: {{ teacher.rating }} Ставка:
                {{ teacher.price }} / час</p>
              <p>{{ teacher.about }}</p>

            </section>

            <section class="available">
              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
              {% for keys, values in teacher.free.items() %}
              <h6 class="mt-4">{{ days[keys] }}</h6>
              {% for key, value in values.items()%}
              {% if value == True %}
              <a href="/booking/{{ teacher.id }}/{{ keys }}/{% if key|length == 4 %}{{ key[:1] }}{% else %}{{ key[:2] }}{% endif %}" class="btn btn-outline-success mr-2">{{ key }}</a>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </section>

          </div>
        </article>
      </div>

    </div>
  </main>
{% include 'footer.html' %}
{% endblock %}